<%= form_with(model: self_test) do |form| %>
  <% if self_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(self_test.errors.count, "error") %> prohibited this self_test from being saved:</h2>

      <ul>
        <% self_test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :done_at %>
    <%= form.date_select :done_at %>
  </div>

  <div class="field">
    <%= form.label :is_positive %>
    <%= form.check_box :is_positive %>
  </div>

  <div class="field">
    <%= form.label :ip_reference %>
    <%= form.text_field :ip_reference %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
