<h1>Resultaten ingediende zelftestuitslagen</h1>
<%= link_to 'Excel downloaden', self_tests_path(format: :xlsx) %>
<%= link_to 'JSON downloaden', self_tests_path(format: :json) %>
<div class="row">
  <div class="col-xs-12 col-lg-6">
    <table class="table">
      <thead>
        <tr>
          <th>Datum</th>
          <th class='text-end'>Ingediend</th>
          <th class='text-end'>Positief</th>
          <th class='text-end'>% Positief</th>
        </tr>
      </thead>
      <tbody>
        <% @self_test_groups.each do |self_test_group| %>
          <tr>
            <td class='text-end'><%= l(self_test_group.done_at, format: :default_day ) %></td>
            <td class='text-end'><%= self_test_group.total %></td>
            <td class='text-end'><%= self_test_group.total_positive %></td>
            <td class='text-end'><%= number_with_precision(self_test_group.total_positive / self_test_group.total.to_f * 100, precision: 1) %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
