<p id="notice"><%= notice %></p>

<h1>Self Tests</h1>

<table>
  <thead>
    <tr>
      <th>Done at</th>
      <th>Is positive</th>
      <th>Ip reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @self_tests.each do |self_test| %>
      <tr>
        <td><%= self_test.done_at %></td>
        <td><%= self_test.is_positive %></td>
        <td><%= self_test.ip_reference %></td>
        <td><%= link_to 'Show', self_test %></td>
        <td><%= link_to 'Edit', edit_self_test_path(self_test) %></td>
        <td><%= link_to 'Destroy', self_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Self Test', new_self_test_path %>
