<p id="notice"><%= notice %></p>

<p>
  <strong>Done at:</strong>
  <%= @self_test.done_at %>
</p>

<p>
  <strong>Is positive:</strong>
  <%= @self_test.is_positive %>
</p>

<p>
  <strong>Ip reference:</strong>
  <%= @self_test.ip_reference %>
</p>

<%= link_to 'Edit', edit_self_test_path(@self_test) %> |
<%= link_to 'Back', self_tests_path %>
