<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Zelftestgedaan.nl</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Test gedaan', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Resultaten', self_tests_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Privacy', privacy_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to '@lorankloeze', "https://twitter.com/LoranKloeze", class: 'nav-link', target: '_blank' %>
        </li>
        <li class="nav-item">
          <%= link_to "https://github.com/LoranKloeze/zelftestgedaan.nl", class: 'nav-link', title: 'Broncode', target: '_blank' do %>
            <%= fa_icon 'code-branch' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
